<!DOCTYPE html>
<!--Created By: William Charles See Ong | Student Id: C0797740-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <script>
      function validateForm() {
       let id = document.forms["plantForm"]["Plant_Id"].value;
       let name = document.forms["plantForm"]["Plant_Name"].value;
       let description = document.forms["plantForm"]["Description"].value;
       let price = document.forms["plantForm"]["Price"].value;
       let quantity = document.forms["plantForm"]["Quantity"].value;
       
       if (id == "") {
         alert("Id should be filled out");
         return false;
       }
       if (name == "") {
         alert("Plant name should be filled out");
         return false;
       }

       if (description == "") {
         alert("Description should be filled out");
         return false;
       }

       if (price == "") {
         alert("Price should be filled out");
         return false;
       }

       if (quantity == "") {
         alert("Quantity should be filled out");
         return false;
       }
     }
   </script>
</head>
<body>
  <h1>Add Plants</h1>  
  <form action="/plant/add" method="POST">
      Plant Id: <input type="text" name="Plant_Id" id="Plant_Id" /> </br>
      Plant Name:<input type="text" name="Plant_Name" id="Plant_Name" /> </br>
      Description: <input type="text" name="Description" id="Description" /> </br>
      Care Level:  
      <select name="Care_Level" id="Care_Level">
        <option value="hard">Hard</option>
        <option value="medium">Medium</option>
        <option value="easy">Easy</option>
      </select> </br>
      Environment type: 
      <select name="Environment" id="Environment">
        <option value="indoor">Indoor</option>
        <option value="outdoor">Outdoor</option>
        <option value="both">Both</option>
      </select> </br>
      Water type: 
      <select name="Water" id="Water">
        <option value="distilled">Distilled water</option>
        <option value="tap">Tap water</option>
      </select> </br> 
      Light type:
      <select name="Light" id="Light">
        <option value="high">High</option>
        <option value="moderate">Moderate</option>
        <option value="low">Low</option>
      </select> </br>
      Plant Size:  
      <select name="Plant_Size" id="Plant_Size">
        <option value="large">Large</option>
        <option value="medium">Medium</option>
        <option value="small">Small</option>
      </select> </br>
      Price: <input type="number" name="Price" id="Price" /> </br> 
      Plant Type: 
      <select name="Plant_Type" id="Plant_Type">
        <option value="annual">Annual</option>
        <option value="perennial">Perennial</option>
        <option value="biennial">Biennial</option>
      </select> </br>
      Edible: 
      <select name="Edible" id="Edible">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select> </br>
      Fruit Bearing: 
      <select name="Fruit_Bearing" id="Fruit_Bearing">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select> </br>
      Quantity: <input type="text" name="Quantity" id="Quantity" /> </br>
      <input type="submit">
  </form>
</body>
</html>