<!DOCTYPE html>
<!--Created By: William Charles See Ong | Student Id: C0797740-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
  <h1>Add Plants</h1>  
  <form action="/plant/add" method="POST">
      Plant Id: <input type="text" name="Plant_Id" id="Plant_Id" placeholder="Enter Plants Id"/> </br>
      Plant Name:<input type="text" name="Plant_Name" id="Plant_Name" placeholder="Enter Plants Name"/> </br>
      Description: <input type="text" name="Description" id="Description" placeholder="Enter Plants Description"/> </br>
      Care Level: <input type="text" name="Care_Level " id="Care_Level" placeholder="Enter Plants Care Level"/> </br>
      Environment: <input type="text" name="Environment" id="Environment" placeholder="Enter Plants Environment"/> </br>
      Water: <input type="text" name="Water" id="Water" placeholder="Enter Water Type"/> </br> 
      Light: <input type="text" name="Light" id="Light" placeholder="Enter Light Type"/> </br> 
      Plant Size: <input type="text" name="Plant_Size" id="Plant_Size" placeholder="Enter Plant Size"/> </br> 
      Price: <input type="text" name="Price" id="Price" placeholder="Enter Price"/> </br> 
      Plant Type: <input type="text" name="Plant_Type" id="Plant_Type" placeholder="Enter Plant Type"/> </br> 
      Edible: <input type="text" name="Edible" id="Edible" placeholder="Enter Plant Edible"/> </br>
      Fruit Bearing: <input type="text" name="Fruit_Bearing" id="Fruit_Bearing" placeholder="Enter Fruit Bearing"/> </br>
      Quantity: <input type="text" name="Quantity" id="Quantity" placeholder="Enter Quantity"/> </br>
      <input type="submit">
  </form>
</body>
</html>